@charset "utf-8";
/* CSS Document */

body{
	background-color: #ffffff;
	}
	
div#interface{
	width: 900px;
	background-color: #ffffff;
	margin: -10px auto auto auto;
	
}
	
header#cabecalho{
	position:relative;
	border-bottom: 1px  #999999 solid;
	height:172px;
	background: url(../Imagens/logo_semitrans.jpg) no-repeat 10px 20px;
	
	}
	
a#fale{
	margin-bottom: 5px;}
	

	

	
	
a{
	
	text-decoration: none;
	font-family: arial, sans-serif;
	font-size:13px;
	color: #333;
	transition: color .3s;
	text-align:left;
	}
	



.menu{

list-style:none; 
border:0px solid #c0c0c0; 
float:left;
margin-top: 100px;
margin-left: 160px;
}

	
.menu li{
font: 18px arial;
position:relative;
float:left;
border-right:0px solid #c0c0c0;
}

.menu li  ul{
font: 18px arial;
margin: 0;
padding: 0;
position:absolute;
top:25px;

background-color:#fff;
display:none;
} 

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{font: 18px arial;
border:1px solid #c0c0c0;
display:block;
width:150px;
}



.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;font: 15px arial;}
 
.menu li a:hover{
background:#333;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}



.menu-principal{
	display:none;
	
}
	
	
	
	

	
hgroup{
	padding-top: 13px;}	
		
div#img_home{
	margin-top: 8px;
	float:left;
	margin-left: 680px;
	padding: 0px 10px 0px 10px;
	
}


aside#direita{
	
	width: 270px;
	float:right;
	
	margin-top: -3px;
	}

p#texto-aside-direita {
	color:#7e7e7e;
	font-family: arial, sans-serif;
	font-size: 11pt;
	text-align:left;
	margin-top: 5px;
	padding-right: 5px;
	margin-left: 10px;
	padding-top:-10px;}
	
img#foto-deireita{
	margin-left: -35px;
	margin-top: -10px;}


aside#esquerda{
	width: 623px;
	}

p#texto-box {
	color:#7e7e7e;
	font-family: arial, sans-serif;
	font-size: 11pt;
	text-align:left;
	margin-top: -15px;
	padding: 0px;
	margin-left: 260px;
	
	}	
	

p#texto-facebook {
	color:blue;
	font-family: arial, sans-serif;
	font-size: 13pt;
	text-align:left;
	margin-top: -15px;
	padding: 0px;
	margin-left: 65px;
	
	}	
	
	
h1 {
	color:#565656;
	background: -webkit-gradient(linear, left top, left bottom, 			    from(#fff), to(#f7f7f7)) repeat-X;
	border: 1px solid #eaeaea;
	font-family: arial, sans-serif;
	padding: 3px 8px 3px 8px;
	margin-top: 3px;
	}


	
	
h1#box-baixo {
	color:#565656;
	background: -webkit-gradient(linear, left top, left bottom, 			    from(#fff), to(#f7f7f7)) repeat-X;
	border: 1px solid #eaeaea;
	font-family: arial, sans-serif;
	padding: 3px 8px 3px 8px;
	margin-top: 10px;
	}	
	
h2#aside-direita {
	color:#f59043;
	background: -webkit-gradient(linear, left top, left bottom,  from(#fff), to(#f7f7f7)) repeat-X;
	border: 1px solid #eaeaea;
	font-family: arial, sans-serif;
	padding: 5px 5px 5px 5px;
	font-size: 12pt;
	width: 247px;
	margin-left: 6px;
	margin-top: -55px;
	text-align:center;}

div#box-aside-direita{
	width: 268px;
	height: 390px;
	margin-top: -20px;
	margin-left: 0px;
	padding-top: -110px;
	border: 1px solid #eaeaea;
	}	
	



	
h2 {
	color:#f59043;
	background: -webkit-gradient(linear, left top, left bottom, 			    from(#fff), to(#f7f7f7)) repeat-X;
	border: 1px solid #eaeaea;
	font-family: arial, sans-serif;
	padding: 5px 5px 5px 5px;
	font-size: 12pt;
	width: 340px;
	margin-left: 255px;
	text-align:center}
		
div#cima{
	width: 600px;
	height: 155px;
	margin-top: -20px;
	border: 1px solid #eaeaea;
	padding: 10px}
	
div#baixo{
	width: 600px;
	height: 155px;
	margin-top: -20px;
	border: 1px solid #eaeaea;
	padding: 10px}
	

	

	
	
	
div#facebook{
	float:left;
	width: 400px;
	height: 38px;
	margin-top: 10px;
	border: 1px solid #eaeaea;
	padding: 10px}
	
div#twitter{
	float:right;
	width: 450px;
	height: 38px;
	margin-top: 10px;
	border: 1px solid #eaeaea;
	padding: 10px}
	
img#foto{
	margin-top: -20px;
	margin-left: -40px;
	float:left;}
	
div#endereco-box{
	background: -webkit-gradient(linear, left top, left bottom, 			    from(#fff), to(#f7f7f7)) repeat-X;
	width: 878px;
	height: 10px;
	margin-top: 80px;
	border: 1px solid #eaeaea;
	padding: 10px}
	
p#endereco {
	color:#a6a5a5;
	font-family: arial, sans-serif;
	font-size: 8.7pt;
	margin-top: 0px;
	padding: 0px;
	text-align:center;}
	
div#copright-box{
	background: -webkit-gradient(linear, left top, left bottom, 			    from(#fff), to(#f7f7f7)) repeat-X;
	width: 858px;
	height: 18px;
	margin-top: 10px;
	border: 1px solid #eaeaea;
	padding: 20px}
	
p#copright {
	color:#787575;
	font-family: arial, sans-serif;
	font-size: 12pt;
	margin-top: 0px;
	padding: 0px;
	text-align:center;}
	
	
	
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
figure#banner-interno{
	
	margin:auto auto auto auto;
	}
p#texto-interno{
	font-family: arial, sans-serif;
	font-size:15px;
	padding:0px 15px 0 15px;
	color:#333;
}